---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import dayjs from 'dayjs'
import VisuallyHidden from '../../components/VisuallyHidden.astro'
import MDXImage from '../../components/MDXImage.tsx'

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post }
  }))
}

const { post } = Astro.props
const { Content } = await post.render({
  components: { Image: MDXImage }
})
---

<BaseLayout title={`${post.data.title} - Shio Y. Blog`} description={post.data.summary}>
  <div class="py-20">
    <h2 class="text-4xl md:text-5xl font-bold">{post.data.title}</h2>
  </div>
  <main class="prose max-w-none">
    <Content />
  </main>
  <p class="text-sm mt-10 text-gray-500 text-right">
    å†™äº {dayjs(post.data.date).format('YYYYå¹´MMæœˆDDæ—¥')}
  </p>
  <div class="mt-20 text-4xl flex justify-end">
    <div class="group">
      <button
        class="group-hover:rotate-90 px-4 py-2 transition-transform"
        onclick="window.scrollTo(0, 0)"
        title="å›åˆ°é¡¶éƒ¨"
      >
        ğ„‡
        <VisuallyHidden>å›åˆ°é¡¶éƒ¨</VisuallyHidden>
      </button>
    </div>
  </div>
</BaseLayout>