@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'codehike.css';

@layer base {
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

}

@layer components {
  #__next {
    background-image: radial-gradient(rgb(224, 224, 224) 5%, rgb(255, 255, 255) 5%);
    background-position: 0px 0px;
    background-size: 25px 25px;
  }

  .btn-small {
    @apply bg-blue-500 hover:brightness-110 transition text-white font-bold py-1 px-2 rounded;
  }
}

@layer utilities {
  .clip-hidden {
    clip: rect(0, 0, 0, 0)
  }
}
