@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'codehike.css';

@layer base {
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

}

@layer components {
  #__next {
    background-image: conic-gradient(from -0.75turn at center, #fff, 10deg, #f3f3f3, 350deg, #eee);
    background-position: 0px 0px;
    background-size: 6px 5px;
  }

  .btn-small {
    @apply bg-blue-500 hover:brightness-110 transition text-white font-bold py-1 px-2 rounded;
  }
}

@layer utilities {
  .clip-hidden {
    clip: rect(0, 0, 0, 0)
  }
}
